.container {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 50px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;

}

.personcontainer {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.cit {
    color: white;
   
}

.info{
    margin-top: 15px;
}